<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colección de Cerebros</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>
    <p>
        <table class="table table-striped">
          <tr>
            <th>Descripción</th>
            <th>Sabor</th>
            <th>Precio</th>
            <th>Imagen</th>
          </tr>
          <%
            if(viewCerebros){
              viewCerebros.forEach(function(cerebro){
                %>
                <tr>
                  <td><%= cerebro.description %></td>
                  <td><%= cerebro.flavor %></td>
                  <td><%= cerebro.price %></td>
                  <td><%= cerebro.picture %></td>
                </tr>
                <%
              });
            }
          %>
        </table>
  
      </p>
</body>
</html>