<% include _h %>
    <p>
        <table class="table table-striped">
          <tr>
            <th>Descripción</th>
            <th>Sabor</th>
            <th>Precio</th>
            <th>Imagen</th>
          </tr>
          <%
            if(viewCerebros){
              viewCerebros.forEach(function(cerebro){
                %>
                <tr>
                  <td><%= cerebro.description %></td>
                  <td><%= cerebro.flavor %></td>
                  <td><%= cerebro.price %></td>
                  <td><%= cerebro.picture %></td>
                </tr>
                <%
              });
            }
          %>
        </table>
  
      </p>
<% include _f %>