<% include _h %>
    <div class="container">
        <table class="table table-striped">
          <tr>
            <th>Descripción</th>
            <th>Sabor</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th></th>
          </tr>
          <%
            if(viewCerebros){
              viewCerebros.forEach(function(cerebro){
                %>
                <tr>
                  <td>
                    <%= cerebro.description %>
                  </td>
                  <td>
                    <%= cerebro.flavor %>
                  </td>
                  <td>
                    <%= cerebro.price %>
                  </td>
                  <td>
                    <%= cerebro.picture %>
                  </td>
                  <td>
                    <i class="fas fa-edit" title="Actualizar"></i>
                    <i class="fas fa-trash" title="Eliminar"></i>
                  </td>
                </tr>
                <%
              });
            }
          %>
        </table>
  
      </div>
<% include _f %>